body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
header {
    background-color: #2E7D32;
    color: white;
    padding: 20px;
}

/* Navigation */
nav {
    background-color: #388E3C;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #388E3C;
    padding: 10px;
    display: flex; /* NOTE: Added so the text is all beside eachother */
    justify-content: center;
  }
  
  #navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px;
    text-decoration: none;
  }
  
  .content {
    padding: 16px;
  }

/* Main */
main {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Section */
h2 {
    color: #1B5E20;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #2E7D32;
    font-size: 18px;
    color: white;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer a {
    color: white;
}